{{define "title"}}Create a note{{end}}

{{define "main"}}
<form action="/note/create" method="POST">
    <div>
        <label for="title">Title:</label>
        {{with .Form.FieldErrors.title}}
            <label for="title" class="error">{{.}}</label>
        {{end}}
        <input type="text" name="title" value="{{.Form.Title}}">
    </div>
    <div>
        <label for="title">Content:</label>
        <textarea name="content">{{.Form.Content}}</textarea>
    </div>
    <div>
        <input type="submit" value="Create">
    </div>
</form>
{{end}}