{{define "title"}}Home - MyNotes{{end}}

{{define "main"}}
    <h2>Latest notes:</h2>

    {{if .Notes}}
        <table>
            <tr>
                <th>Title</th>
                <th>Created</th>
                <th>ID</th>
            </tr>
            {{range .Notes}}
                <tr>
                    <td><a href='/note/view/{{.ID}}'>{{.Title}}</a></td>
                    <td>{{.Created.Format "02 Jan 2006 at 15:04"}}</td>
                    <td>#{{.ID}}</td>
                </tr>
            {{end}}
        </table>
    {{else}}
        <p>Without notes yet!</p>
    {{end}}

{{end}}