{{define "base"}}
<!doctype html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <title>{{template "title" .}} - MyNotes</title>

    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700">
</head>

<body>
    <header>
        <h1><a href="/">MyNotes</a></h1>
    </header>
    {{template "menu" .}}
    <main>
        {{template "main" .}}
    </main>
    <footer>
        Feito por <a target="_blank" href="https://github.com/paulojunior-ufla/">Paulo Júnior</a>
    </footer>
    <script src="/static/js/main.js" type="text/javascript"></script>
</body>

</html>
{{end}}